.footer {
    /* position: absolute; */
    /* margin: 0 300px; */
    /* bottom: 0;
    margin: auto;
    left: 0;
    right: 0; */

    padding: 20px;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 100vh;
    width: 100%;
}


/* Responsive adjustments */
@media screen and (max-width: 600px) {
    .navbar{
        width: max-content;
    }
    .blogs-header {
        justify-content: center;
        align-items: center;
        margin-left: -10px;
    }
    .footer {
      font-size: 14px;
      padding: 10px;
      margin-left: -30px;
    }
  }
  
  @media screen and (min-width: 601px) and (max-width: 900px) {
    .blogs-header {
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .footer {
      font-size: 16px;
      padding: 15px;
    }
  }